<mat-toolbar>
  <mat-toolbar-row>
    <span (click)="mainPageRedirect()" class="menu-link">My journal</span>
    <span class="fill-space"></span>
    <span>Monthly log</span>
    <span class="fill-space"></span>
    <span>Habit tracker</span>
    <span class="fill-space"></span>
    <span>Settings</span>
    <span class="fill-space"></span>
    <span>Username</span>
    <span class="fill-space"></span>
    <mat-icon (click)="logOut()" *ngIf="isAuth" class="menu-icon menu-link">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

